<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Average</th>
  </tr>
  </thead>

  <tbody>
  <% items.each do |item| %>
      <tr>
        <td><%= link_to item, item %></td>
        <td><span class="label label-info"><%= round(item.average_rating) %></span></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>